# Week 1

In [3]:
%%capture
# !pip install ipython-sql

In [1]:
%load_ext sql
%sql postgresql://corise:corise@localhost:5432/dbt

__How many users do we have?__

In [3]:
%%sql
SELECT COUNT(*) FROM users

 * postgresql://corise:***@localhost:5432/dbt
1 rows affected.

[(130,)]

__On average, how many orders do we receive per hour?__

In [27]:
%%sql 
WITH nb_orders_by_hour AS (
SELECT DATE_TRUNC('hour', created_at) AS created_at_hour,
       COUNT(DISTINCT order_id) AS nb_orders
  FROM orders
 GROUP BY 1
)

SELECT ROUND(AVG(nb_orders), 2)
  FROM nb_orders_by_hour

 * postgresql://corise:***@localhost:5432/dbt
1 rows affected.

[(Decimal('8.16'),)]

__On average, how long does an order take from being placed to being delivered?__

In [30]:
%%sql
WITH nb_days_by_order AS (
SELECT order_id, 
       created_at,
       delivered_at,
       EXTRACT(epoch FROM (delivered_at - created_at))/(24*3600) AS nb_days
  FROM orders
 WHERE status = 'delivered'
)

SELECT AVG(nb_days)
  FROM nb_days_by_order

 * postgresql://corise:***@localhost:5432/dbt
1 rows affected.

[(3.9258160237388724,)]

__How many users have only made one purchase? Two purchases? Three+ purchases?__

In [34]:
%%sql
WITH nb_purchases_by_user AS (
SELECT user_id,
       COUNT(DISTINCT order_id) AS nb_purchases
  FROM orders
 GROUP BY 1
)

SELECT nb_purchases,
       COUNT(user_id) AS nb_users
  FROM nb_purchases_by_user
 GROUP BY 1
 ORDER BY 1

 * postgresql://corise:***@localhost:5432/dbt
8 rows affected.

[(1, 25), (2, 22), (3, 32), (4, 25), (5, 15), (6, 4), (7, 4), (8, 1)]

__On average, how many unique sessions do we have per hour?__

In [56]:
%%sql
WITH nb_sessions_by_hour AS (
SELECT DATE_TRUNC('hour', created_at) AS created_at_hour,
       COUNT(DISTINCT session_id) AS nb_sessions
  FROM events
 GROUP BY 1
 ORDER BY 2 DESC
)

SELECT AVG(nb_sessions)
  FROM nb_sessions_by_hour

 * postgresql://corise:***@localhost:5432/dbt
1 rows affected.

[(Decimal('7.3894009216589862'),)]